<h1>Report</h1>
<h2>Filter resuls:</h2>
<%= form_with method: :get do |f| %>
  <%= f.label :min_date, 'From date' %>
  <%= f.date_field :min_date %>
  <%= f.label :max_date, 'To date' %>
  <%= f.date_field :max_date %>
  <%= f.submit 'Filter' %>
<% end %>

<% if @sights %>
  <table>
    <tr>
      <th>Animal</th>
      <th>Region</th>
      <th>Location (lat., long.)</th>
      <th>Date</th>
    </tr>
    <% @sights.each do |sight| %>
    <tr>
      <td id="species"><%= sight.animal.species %></td>
      <td id="region_name"><%= sight.region.name %></td>
      <td id="location"><%= format("%f, %f", sight.latitude, sight.longtitude) %></td>
      <td id="date"><%= sight.date.to_s(:rfc822) %></td>
    </tr>
    <% end %>
  </table>
<% end %>
