<h1><%=@title%></h1>

<div class="<%=@list_class%>">
  <% @items.each do |item| %>
    <div class="<%=@item_class%>"><%=item%></div>
  <% end %>
</div>

<form action="<%=@action%>" method="post">
  <div class="form-group form_new">
    <% @fields.each do |field| %>
    <div>
      <label for="<%=field%>"><%=field.capitalize%></label>
      <input name="<%=field%>" type="text">
      </div>
    <% end %>
    <button type="submit" class="btn">Add</button>
  </div>
</form>