<div class="<%=@list_class%>">
  <% @items.each do |item| %>
    <div class="<%=@item_class%>">
      <a href="<%=item[:url]%>">
        <%=item[:text]%>
      </a>
      <form action="<%=item[:url]%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
      </form>
    </div>
  <% end %>
</div>
