<h1><%= @animal.species %></h1>
<% if @animal.sights %>
  <% @animal.sights.each do |sight| %>
    <div id="sight">
      <span id="location"><%= "#{sight.latitude}, #{sight.longtitude}" %></span>
      <%= link_to 'Delete', animal_sight_path(@animal, sight), data: {confirm: 'Sure?', method: "delete"} %>
    </div>
  <% end %>
<% end %>
<p><%= link_to 'Add sight', new_animal_sight_path(@animal) %></p>
<p><%= link_to 'Edit', edit_animal_path(@animal) %></p>
<p><%= link_to 'Delete', animal_path(@animal), data: {confirm: 'Are you sure', method: 'delete'} %></p>
